# Files
.env
.DS_Store

# Folders
venv/
.vscode/
__pycache__/
node_modules/

# Specifics
bin/env

client/**/public/js/**/*
!client/**/public/js/.keep

server/tmp/**/*
!server/tmp/.keep

server/static/ratings/js/

server/staticfiles/**/*
!server/staticfiles/.keep
.idea/.gitignore
.idea/inspectionProfiles/
.idea/misc.xml
.idea/modules.xml
.idea/surge.iml
.idea/vcs.xml
server/Pipfile
server/Pipfile.lock
