# Files
*.log
.DS_Store

# Folders
.vscode/
__pycache__/

# Specifics
bin/env

client/**/public/js/**/*
!client/**/public/js/.keep

server/venv/
server/.env
server/tmp/**/*
!server/tmp/.keep

server/staticfiles/**/*
!server/staticfiles/.keep
