# Files
*.log
.DS_Store

# Folders
.vscode/
__pycache__/

# Specifics
bin/env

server/venv/
server/.env
server/tmp/**/*

server/staticfiles/**/*
server/ratings/static/ratings/**/*
server/ratings/templates/ratings/**/*

# Must come last
!.keep
